
<div class="jumbotron">
  <h1 class="display-4">
    <%= @contact.first_name %>
    <%= @contact.last_name %>
  </h1>
  <p class="lead">
    <%= @contact.email %>  | 
    <%= @contact.phone %>  |  
    <%= @contact.twitter %>

  </p>
  <br/>

  <%= link_to 'Edit', edit_contact_path(@contact), class:"btn btn-secondary" %>

<%= link_to 'Delete', @contact, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
   
<%= link_to 'Back', contacts_path, class:"btn btn-dark" %>

</div>



